* {
    /* border: solid black 1px !important; */
}

#left-nav-profile-info {
    padding-left: 30px;
    padding-right: 30px;
}

#profile-stats {
    text-align: center;
}

#profile-stats div {
    width: 33%;
}

#profile-stats strong {
    display: block;
    font-size: xx-large;
    color: #4078c0;
}

#profile-stats span {
    color: gray;
}

#guessed_chars,
#guessed_chars_history,
#enter_char {
    display: flex;
}

#guessed_chars input,
#guessed_chars_history input {
    text-align: center;
    margin: 10px;
    width: 3em;
}

#enter_char input {
    text-align: center;
    width: 3em;
    margin-left: 20px;
}
